<footer class="footer">
<a href="#" class="footer__btn"> <img src="./assets/images/ico-arrow.svg"  alt="arrow"></a>

<nav class="footer__nav">
    <ul class="footer__nav--articles">
        <li><a href="https://adalab.es/" target="_blank">Articles</a></li>
        <li><a href="https://adalab.es/" target="_blank">Books </a></li>
        <li><a href="https://adalab.es/" target="_blank">Events</a></li>
        <li><a href="https://adalab.es/" target="_blank">Reasons</a></li>
        <li><a href="https://adalab.es/" target="_blank">Tips</a></li>
    </ul>
</nav>

<nav class="footer__nav">
    <ul class="footer__nav--rrss">
        <li><a href="https://adalab.es/" target="_blank">Twitter</a></li>
        <li><a href="https://adalab.es/" target="_blank">Instagram </a></li>
        <li><a href="https://adalab.es/" target="_blank">Mastodon.Social</a></li>
    </ul>
</nav>
<section class="footer__span">
<p>&copy; 2021</p>
<p>we <span class="heart">❤︎</span> components</p>
</section>
</footer>