<header class="header" id="header">
    <a href="https://adalab.es/" target="_blank" class="header__burguer"><img src="./assets/images/ico-menu.svg" alt="Menu burguer"></a>
    <div class="header__section">
        <h1 class="header__title">Anonymous Proxy</h1>
        <p class="header__text">In hac habitasse platea dictumst.</p>
       
        <div>
        <a href="./index.html#purchase" class="header__scroll"><img src="./assets/images/ico-scroll-down.svg" alt="button scroll" class="header__scroll--icon"></a>
    </div>
    </div>
</header>