    <section class="sectionx">
        <h2>Anonimous Proxy</h2>
        <a href="https://trello.com/" id="Enlace a trello"><p class="sectionx__link">26NOV2021</p></a>
    </section>
    <section class="section1">
        <p class="section1__subtitle">Insomnia Tips</p>
        <h2 class="section1__title">Looking Through A Window</h2>
        <p class="section1__text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
        <div class="section1__btn">
        <p class="section1__btn--text">Go</p>
    </div>
    </section>
    