<section class="section2">
    <h2 class="section2__title">3 Reasons To Purchase</h2>
    <article class="section2__articles">
        <h3 class="section2__articles--title1">Ut sed metus</h3>
        <p class="section2__articles--text1">Lorem ipsum dolor sit amet, consecteur.</p>
    </article>
    <article class="section2__articles">
        <h3 class="section2__articles--title1">Curabitur ac erat</h3>
        <p class="section2__articles--text1">Mauris mattis urna quis lorem molestie.</p>
    </article>
    <article class="section2__articles">
        <h3 class="section2__articles--title1">Morbi dictum</h3>
        <p class="section2__articles--text1">Aliquam in dolor et dolor tincidunt.</p>
    </article>
    <div class="section2__btn">
    <p class="section2__btn--text">More reasons</p>
    </div>

</section>
