$fontTitle: "Roboto Slab", Arial, Helvetica, sans-serif;
$fontText: "Roboto", Arial, Helvetica, sans-serif;

$colorIconMenu: #0271bc;
$colorWhite: #fff;
$colorBlack: #000;
$colorOrange: #ee6722;
