a {
  color: $colorWhite;
  text-decoration: none;
}
.footer {
  width: 100%;
  height: 465px;
  background-color: $colorFooter;
  color: $colorWhite;
  font-family: $fontText;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 39px;
    height: 240px;
    padding-left: 30px;
  }

  &__btn {
    width: 45px;
    height: 45px;
    background-color: $colorWhite;
    border-radius: 50%;
    transform: translate(0, -490px);
    line-height: 60px;
    top: 0;
    position: relative;
    @media (min-width: 768px) {
      transform: translate(-360px, -20px);
    }
  }

  &__nav {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.88;
    @media (min-width: 768px) {
      line-height: 30px;
    }
    &--articles {
      list-style: none;
      padding-top: 60px;
      @media (min-width: 768px) {
        text-align: left;
        padding-top: 45px;
        padding-left: 150px;
      }
    }
    &--rrss {
      padding-top: 30px;
      list-style: none;
      @media (min-width: 768px) {
        text-align: left;
        padding-top: 45px;
        padding-left: 50px;
      }
    }
  }
  &__span {
    font-size: 14px;
    line-height: 2.14;
    padding-top: 30px;
    padding-bottom: 45px;
    @media (min-width: 768px) {
      padding-top: 45px;
      order: -1;
    }
  }
}

.heart {
  color: $colorOrange;
}
