a {
  color: $colorWhite;
  text-decoration: none;
}
.footer {
  width: 100%;
  background-color: $colorFooter;
  color: $colorWhite;
  font-family: $fontText;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      padding-bottom: 45px;
      padding-left: 30px;

      @media (min-width: 1200px) {
        padding-right: 370px;
        padding-left: 200px;
        height: 240px;
        justify-content: center;
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    transform: translateY(-50%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    animation: 4s ease infinite scrollUp;
  }
  @keyframes scrollUp {
    0% {
      transform: translateY(-50%) rotate(0deg);
    }
    20% {
      transform: translateY(-50%) rotate(370deg);
    }
    30% {
      transform: translateY(-50%) rotate(360deg);
    }
    100% {
      transform: translateY(-50%) rotate(360deg);
    }
  }

  &__nav {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.88;
    width: 300px;
    text-align: center;

    @media (min-width: 768px) {
      line-height: 30px;
      width: 30%;
    }

    @media (min-width: 1200) {
      width: 160px;
    }
    &--articles {
      list-style: none;
      padding-top: 60px;
      @media (min-width: 768px) {
        text-align: left;
        padding-top: 45px;
        padding-left: 120px;
      }
      @media (min-width: 1200) {
        width: 160px;
        padding-right: 150px;
      }
    }
    &--rrss {
      padding-top: 30px;
      list-style: none;
      width: 300px;
      text-align: center;

      @media (min-width: 768px) {
        text-align: left;
        padding-top: 45px;
        padding-left: 50px;
      }
      @media (min-width: 1200) {
        width: 160px;
      }
    }
  }
  &__span {
    font-size: 14px;
    line-height: 2.14;
    padding-top: 30px;
    padding-bottom: 45px;

    @media (min-width: 768px) {
      padding-top: 45px;
      order: -1;
      width: 130px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    @media (min-width: 1200px) {
      width: 100%;
    }
  }
}

.heart {
  color: $colorOrange;
}
